 <section class="p-0 bg-light">
    <div class="image image-overlay image-cover skrollable skrollable-between" style="background-image: url(&quot;../../assets/images/demo/minimal/portfolio-bg-2.jpg&quot;); transform: translateY(0px);" data-top-top="transform: translateY(0px);" data-top-bottom="transform: translateY(-250px);"></div>
    <div class="container">
      <div class="row justify-content-center align-items-end vh-50 mb-5">
        <div class="col col-md-10 col-lg-8">
          <div class="row align-items-center">
            <div class="col-4 col-lg-3">
              <img class="mr-3 avatar avatar-xl rounded" src="../../assets/images/face-7.jpg" alt="Generic placeholder image">
            </div>
            <div class="col">
              <div class="row align-items-center">
                <div class="col-md-8">
                  <h2 class="mb-0"><b>{{Supplier}}</b></h2>
                  <span class="text-muted">{{Firstname}} {{Lastname}}</span>
                </div>
                <div class="col-md-4 text-left text-md-right">
                  <button type="button" class="btn btn-rounded btn-ico btn-white" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add Friend"><i class="icon-plus2 fs-20"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

   <section class="bg-light p-0">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col col-md-10 col-lg-8">
          <mat-tab-group>
            <mat-tab label="One">
              <h1>Record</h1>
          
               <input name="Idn">
               <div class="form-group">
                <input type="checkbox" name="interest" class="form-control"><label>Cables &amp; Accessories</label>
                <input type="checkbox" name="interest" class="form-control"><label>Cables &amp; Accessories</label>
                <input type="checkbox" name="interest" class="form-control"><label>Cables &amp; Accessories</label>
                <input type="checkbox" name="interest" class="form-control"><label>Cables &amp; Accessories</label>
                </div>
               Follow-up
               <input type="checkbox" name="phone" class="form-control"/><label>Phone</label>
               <input type="checkbox" name="phone" class="form-control"/><label>Sales Visit</label>
               <input type="checkbox" name="phone" class="form-control"/><label>Demonstration</label>
               <input type="checkbox" name="phone" class="form-control"/><label>Quotation</label>
               <input type="checkbox" name="phone" class="form-control"/><label>Send Literature</label>
               <input type="checkbox" name="phone" class="form-control"/><label>See Notes</label>
               <input type="checkbox" name="phone" class="form-control"/><label>Ready to Purchase</label>
               <input type="checkbox" name="phone" class="form-control"/><label>Makes Decisions</label>
               <input type="checkbox" name="phone" class="form-control"/><label>Order Placed</label>
               <input type="checkbox" name="phone" class="form-control"/><label>Send Literature</label>

               <textarea name="comments"></textarea>
             <button type="submit">Submit this entry</button>
            </mat-tab>
            <mat-tab label="Two">
              <h1>List</h1>
              <p>...</p>
          </mat-tab>
        </mat-tab-group>
       
        </div>
      </div>
    </div>
  </section>
  

