 <section class="p-0 bg-light">
    <div class="image image-overlay image-cover skrollable skrollable-between" style="background-image: url(&quot;../../assets/images/demo/minimal/portfolio-bg-2.jpg&quot;); transform: translateY(0px);" data-top-top="transform: translateY(0px);" data-top-bottom="transform: translateY(-250px);"></div>
    <div class="container">
      <div class="row justify-content-center align-items-end vh-50 mb-5">
        <div class="col col-md-10 col-lg-8">
          <div class="row align-items-center">
            <div class="col-4 col-lg-3">
              <img class="mr-3 avatar avatar-xl rounded" src="../../assets/images/face-7.jpg" alt="Generic placeholder image">
            </div>
            <div class="col">
              <div class="row align-items-center">
                <div class="col-md-8">
                  <h2 class="mb-0"><b>{{Supplier}}</b></h2>
                  <span class="text-muted">{{Firstname}} {{Lastname}}</span>
                </div>
                <div class="col-md-4 text-left text-md-right">
                  <button type="button" class="btn btn-rounded btn-ico btn-white" data-toggle="tooltip" data-placement="top" title="" data-original-title="Add Friend"><i class="icon-plus2 fs-20"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

   <section class="bg-light p-0">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col col-md-10 col-lg-8">
          <mat-tab-group>

          <mat-tab label="Record Attendee">
              <h1>Attendee Entry</h1>
               <form [formGroup]="recordAttendeeForm" (ngSubmit)="onAttendeeSubmit()">
                <div class="form-group">
                    <label for="fullname">Full Name (first name / last name)</label>
                    <input type="text" formControlName="fullname" placeholder="John Smith" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                    <div *ngIf="submitted && f.fullname.errors" class="invalid-feedback">
                        <div *ngIf="f.fullname.errors.required">Full Name is required</div>
                    </div>
                </div>
                  <div class="form-group">
                    <label for="company">Company</label>
                    <input type="text" formControlName="company" placeholder="Company" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.company.errors }" />
                    <div *ngIf="submitted && f.company.errors" class="invalid-feedback">
                        <div *ngIf="f.company.errors.required">Company is required</div>
                    </div>
                </div>
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" formControlName="email" placeholder="Email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                    </div>
                </div>
                  <div class="form-group">
                    <label for="phone">Phone</label>
                    <input type="text" formControlName="phone" placeholder="(905) 555-1212" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
                    
                </div>
                  <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" formControlName="title" placeholder="Title" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
                    <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                        <div *ngIf="f.title.errors.required">Title is required</div>
                    </div>
                </div>                 
               
                <div class="form-group">
                    <button [disabled]="loading" class="btn btn-primary btn-lg btn-block">Submit</button>
                    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                </div>
             </form>
          </mat-tab>

         
            <mat-tab label="List Attendees">
              <h1>Attendee List</h1>
             
        <div style="display:inline-block;" class="col-3">
          <h3>AceConnex Attendees</h3>
          <table matSort (matSortChange)="sortData($event)">
              <tr>
                <th>Id</th>
                <th>Full Name</th>
                <th mat-sort-header="company">Company</th>
                <th>Title</th>                
                <th>Phone</th>                
                <th>Email</th>              
                <th>Badge Id</th>      
                <th mat-sort-header="checkintime">Checked In</th>              
              </tr>            
              <tr *ngFor="let item of attendeeDataSource">
                <td class="text-center">{{item.Id}}</td>
                <td class="text-center"><label class="label">
                  {{item.FullName}}</label></td>
                <td>{{item.Company}}</td>                            
                <td>{{item.Phone}}</td>             
                <td>{{item.Email}}</td>
                <td>{{item.Title}}</td>                               
                <td>{{item.BadgeId}}</td>
                <td>{{item.CheckInTime}}</td>
               
                <td>
                      <a mat-flat-button color="primary" [routerLink]="['/attendees', item.Id]"><mat-icon>edit</mat-icon></a>
                      <a mat-flat-button color="warn" (click)="deleteAttendee(item.Id)"><mat-icon>delete</mat-icon></a>
                </td>
              </tr>
            </table>
          </div>
   

          </mat-tab>


             <mat-tab label="Capture Supplier Visit">
              <h1>Record</h1>
          
               <input name="Idn">
               <div class="form-group">
                <input type="checkbox" name="interest" class="form-control"><label>Cables &amp; Accessories</label>
                <input type="checkbox" name="interest" class="form-control"><label>Cables &amp; Accessories</label>
                <input type="checkbox" name="interest" class="form-control"><label>Cables &amp; Accessories</label>
                <input type="checkbox" name="interest" class="form-control"><label>Cables &amp; Accessories</label>
                </div>
               Follow-up
               <input type="checkbox" name="phone" class="form-control"/><label>Phone</label>
               <input type="checkbox" name="phone" class="form-control"/><label>Sales Visit</label>
               <input type="checkbox" name="phone" class="form-control"/><label>Demonstration</label>
               <input type="checkbox" name="phone" class="form-control"/><label>Quotation</label>
               <input type="checkbox" name="phone" class="form-control"/><label>Send Literature</label>
               <input type="checkbox" name="phone" class="form-control"/><label>See Notes</label>
               <input type="checkbox" name="phone" class="form-control"/><label>Ready to Purchase</label>
               <input type="checkbox" name="phone" class="form-control"/><label>Makes Decisions</label>
               <input type="checkbox" name="phone" class="form-control"/><label>Order Placed</label>
               <input type="checkbox" name="phone" class="form-control"/><label>Send Literature</label>

               <textarea name="comments"></textarea>
             <button type="submit">Submit this entry</button>
            </mat-tab>
        </mat-tab-group>
       
        </div>
      </div>
    </div>
  </section>
  

