
                <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                    <ngb-panel>
                        <ng-template ngbPanelTitle>
                            <span>&#9733; <b>Customer Survey</b> Results at a Glance &#9733;</span>
                          </ng-template>
                      <ng-template ngbPanelContent>
                        <div style="display:inline-block;" class="col-3">
                          <h3>Quote Provided Timely</h3>
                          <canvas baseChart
                                      [data]="doughnutChartDataQuotetimely"
                                      [labels]="doughnutChartLabels"
                                      [colors]="doughnutColors"
                                      [chartType]="doughnutChartType"></canvas>
                        </div>
                        <div style="display:inline-block;" class="col-3">
                          <h3>Client would recommend</h3>
                          <canvas baseChart
                                      [data]="doughnutChartDataRecommend"
                                      [labels]="doughnutChartLabels"
                                      [colors]="doughnutColors"
                                      [chartType]="doughnutChartType"></canvas>
                        </div>
                  
                        <div style="display:inline-block;" class="col-3">
                          <h3>Product Quality</h3>
                          <canvas baseChart
                                      [data]="doughnutChartDataProductquality"
                                      [labels]="doughnutChartLabels"
                                      [colors]="doughnutColors"
                                      [chartType]="doughnutChartType"></canvas>
                        </div>
                        <div style="display:inline-block" class="col-3">
                          <h3>Satisfaction Scale</h3>
                          <canvas baseChart
                            [chartType]="barChartType"
                            [labels]="barChartLabels"                           
                            [data]="barChartSatisfaction">
                           </canvas>
                        </div>
                            
                      </ng-template>
                    </ngb-panel>

                    <ngb-panel title="Simple">
                      <ng-template ngbPanelTitle>
                        <span>&#9733;Customer Survey Detail</span>
                      </ng-template>
                      <ng-template ngbPanelContent>


                        <table matSort (matSortChange)="sortData($event)">
                          <tr>
                            <th mat-sort-header="id">Id</th>
                            <th mat-sort-header="satisfaction">Satisfaction</th>
                            <th mat-sort-header="productquality">Product Quality</th>
                            <th mat-sort-header="quotetimely">Quote Timely</th>
                            <th>Contact Info</th>
                            <th>Comments</th>
                            <th mat-sort-header="collected">Collected</th>
                          
                          </tr>
                        
                          <tr *ngFor="let item of dataSource">
                            <td class="text-center">{{item.ID}}</td>
                            <td class="text-center"><label class="label">
                              {{item.satisfaction}}</label></td>
                            <td class="text-center"><label class="label" [ngClass]="{'label-success': item.productquality === 'Yes', 'label-red': item.productquality === 'No'}"><i mat-icon *ngIf="item.productquality === 'Yes'" class="material-icons">done</i><i mat-icon *ngIf="item.productquality === 'No'" class="material-icons">clear</i></label></td>
                            <td class="text-center"><label class="label" [ngClass]="{'label-success': item.quotetimely === 'Yes', 'label-red': item.quotetimely === 'No'}"><i mat-icon *ngIf="item.quotetimely === 'Yes'" class="material-icons">done</i><i mat-icon *ngIf="item.quotetimely === 'No'" class="material-icons">clear</i></label></td>
                            <td class="label" [ngClass]="{'label-success': item.contactinfo === 'Yes', 'label-red': item.contactinfo === 'No'}">{{item.contactinfo}}</td>
                            <td>{{item.comments}}</td>
                            <td>{{item.collected}}</td>
                           </tr>
                        </table>
                        

                      </ng-template>
                    </ngb-panel>
                  
                 
                  </ngb-accordion>
            
                
              
             
         