
                <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                    <ngb-panel title="Simple">
                      <ng-template ngbPanelTitle>
                        <span>&#9733;Survey Results</span>
                      </ng-template>
                      <ng-template ngbPanelContent>

                     
                            
                          <table class="table" *ngIf="surveyresults">
                              <tr>
                              
                                <th>Quote</th>
                                <th>Quotes on Time?</th>
                                <th>Product Quality Good?</th>
                                <th>Satisfaction (Scale 1-5)</th>
                                <th>Would you recommend?</th>
                                <th>Contact Info</th>
                                <th>Comments</th>
                              </tr>
                              <tr *ngFor="let result of surveyresults.data">        
                                <td>{{ result.id }}</td>
                                <td>{{ result.quotetimely }}</td>
                                <td>{{ result.recommend }}</td>
                                <td>{{ result.satisfaction }}</td>
                                <td>{{ result.productquality }}</td>
                                <td>{{ result.contactinfo }}</td>
                                <td>{{ result.comments }}</td>
                              </tr>
                            </table>
                      </ng-template>
                    </ngb-panel>
                    <ngb-panel>
                      <ng-template ngbPanelTitle>
                        <span>&#9733; <b>Fancy</b> title &#9733;</span>
                      </ng-template>
                      <ng-template ngbPanelContent>
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                        aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                        sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                        craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                        labore sustainable VHS.
                      </ng-template>
                    </ngb-panel>
                    <ngb-panel>
                        <ng-template ngbPanelTitle>
                            <span>&#9733; <b>Survey</b> Results &#9733;</span>
                          </ng-template>
                      <ng-template ngbPanelContent>

                         <!-- Position Column -->
                              <mat-form-field>
                              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                            </mat-form-field>
                            
                            <table mat-table [dataSource]="dataSource" class="table" matSort>
                            
                              <!-- Position Column -->
                              <ng-container matColumnDef="id">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Id. </th>
                                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                              </ng-container>
                            
                              <!-- Name Column -->
                              <ng-container matColumnDef="satisfaction">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Satisfaction </th>
                                <td mat-cell *matCellDef="let element"> {{element.satisfaction}} </td>
                              </ng-container>
                                <!-- Symbol Column -->
                                <ng-container matColumnDef="productquality">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Quality </th>
                                    <td mat-cell *matCellDef="let element"> {{element.productquality}} </td>
                                  </ng-container>
                              <!-- Weight Column -->
                              <ng-container matColumnDef="quotetimely">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Quote Timely </th>
                                <td mat-cell *matCellDef="let element"> {{element.quotetimely}} </td>
                              </ng-container>

                                 <!-- Weight Column -->
                                 <ng-container matColumnDef="recommend">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Quote Timely </th>
                                    <td mat-cell *matCellDef="let element"> {{element.recommend}} </td>
                                  </ng-container>
                                     <!-- Weight Column -->
                                 <ng-container matColumnDef="contactinfo">
                                    <th mat-header-cell *matHeaderCellDef> Contact Info </th>
                                    <td mat-cell *matCellDef="let element"> {{element.contactinfo}} </td>
                                  </ng-container>
                                  <!-- Weight Column -->
                                  <ng-container matColumnDef="comments">
                                      <th mat-header-cell *matHeaderCellDef> Comments </th>
                                      <td mat-cell *matCellDef="let element"> {{element.comments}} </td>
                                    </ng-container>
                               <!-- Weight Column -->
                               <ng-container matColumnDef="collected" mat-sort-header>
                                  <th mat-header-cell *matHeaderCellDef> Collected </th>
                                  <td mat-cell *matCellDef="let element"> {{element.collected}} </td>
                                </ng-container>
                            
                          
                            
                              <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                              <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
                            </table>
                            
                      </ng-template>
                    </ngb-panel>
                  </ngb-accordion>
            
              
                  <div style="display: block">
                      <canvas baseChart
                                  [data]="doughnutChartData"
                                  [labels]="doughnutChartLabels"
                                  [chartType]="doughnutChartType"></canvas>
                    </div>
              
              <button (click)="firstClick()">Click Here</button>
         